$light: #f5f5f6;
html {
  body {
    .layout {
      background: #fff !important;
      .acf-field {
        background:$light !important;
        padding:20px 40px !important;
      }
      .acf-repeater {
        .acf-field {
          background: #fff !important;
          .button {
            margin-top: 0px !important;
          }
        }
        .acf-fields {
          background: #fff !important;
        }
      }
      &:hover {
        .acf-fc-layout-handle {
          background: #1D385A !important;
        }
      }
      .acf-fields  {
        background: $light !important;
      }
      &.ui-sortable-placeholder {
        background: #e8e8e8 !important;
      }
      .acf-fc-layout-handle {
        background: #0C2340 !important;
        color: #fff !important;
        padding: 24px !important;
        background: #1D385A !important;
        &.ui-sortable-helper {
          background: #FF6536 !important
        }
      }
      &.-collapsed {
        background: #0C2340 !important;
        padding: 0px !important;
        .acf-fc-layout-handle {
          background: #0C2340 !important;
        }
      }
      .acf-fc-layout-order {
        margin: 0px 6px 0px 0px !important;
      }
      .acf-fc-layout-controlls {
        top: 24px !important;
        right: 16px !important;
      }
    }
    .acf-icon {
      &.-plus {
        border-color: #7ED321 !important; 
        background: #7ED321 !important;
        color: #fff !important;
      }
      &.-collapse {
        &:hover {
          background: #fff !important;
        }
      }
      &.-minus {
        border-color: #D0021B !important; 
        background: #D0021B !important;
        color: #fff !important;
      }
    }
    .acf-button {
      &.button {
        padding: 16px 48px;
        border-radius: 64px;
        margin-top: 16px;
        height: auto !important;
        line-height: 100% !important;
        &.button-primary {
          
        }
      }
    }
  }
}
